Repository Todoary/Todoary-Server, pull requests merged in 2022-08, with the labels that each got.

#61 [Fix] todo and category
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/GetTodoByCategoryRes.java
  src/main/java/com/todoary/ms/src/todo/dto/GetTodoByDateRes.java
  src/main/java/com/todoary/ms/src/todo/dto/PostTodoReq.java
Labels: fix

#69 [Fix] : change_token_key
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/jwt/JwtTokenProvider.java
Labels: fix

#70 [Fix] Resolve refresh token using refresh key
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/AuthService.java
  src/main/java/com/todoary/ms/src/auth/jwt/JwtTokenProvider.java
  src/main/java/com/todoary/ms/src/auth/jwt/filter/JwtAuthorizationFilter.java
Labels: fix, auth

#72 feat: remove_user
  src/main/java/com/todoary/ms/src/user/UserController.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: user

#80 [Chore] Build and deploy by github actions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  gradlew
  scripts/build.sh
  scripts/start.sh
  scripts/stop.sh
  src/main/java/com/todoary/ms/util/ErrorLogWriter.java
Labels: chore

#82 [Feat] : Auth-Apple api
  .github/workflows/deploy.yml
  .gitignore
  build.gradle
  src/main/java/com/todoary/ms/src/auth/AppleUtil.java
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/AuthService.java
  src/main/java/com/todoary/ms/src/auth/dto/PostSignupAppleReq.java
  src/main/java/com/todoary/ms/src/auth/model/AppleUserInfo.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserProvider.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: auth

#86 [Feat] : Auth-Apple-Login
  .gitignore
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/GetAppleUserRes.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
Labels: auth

#89 [Fix] : Clear-Cache
  .gitignore
  gradlew
  scripts/build.sh
  scripts/start.sh
  scripts/stop.sh
  src/main/resources/static/AuthKey_Q97Q56DJS6.p8
Labels: fix

#90 [Chore] Make scripts and gradlew executable
  gradlew
  scripts/build.sh
  scripts/start.sh
  scripts/stop.sh
Labels: chore

#94 [Chore] Create test-deploy.yml
  .github/workflows/test-deploy.yml
Labels: chore

#93 [Fix] Fix log format
  src/main/java/com/todoary/ms/src/diary/DiaryService.java
  src/main/java/com/todoary/ms/util/ErrorLogWriter.java
Labels: fix

#96 [Feat] : Revoke-Apple
  src/main/java/com/todoary/ms/src/auth/AppleUtil.java
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/GetAppleUserRes.java
Labels: auth

#99 [Chore] Copy firebase secret key when deploy
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
Labels: chore

#102 [Fix] Remove firebase key when deploy
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
Labels: chore

#103 [Feat] : remove-appleSignup-api
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/GetAppleUserRes.java
Labels: auth

#116 [Fix] : modify-apple
  src/main/java/com/todoary/ms/src/auth/AuthController.java
Labels: fix, auth

#118 [Fix] Count grapheme include emoji
  build.gradle
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/diary/DiaryController.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/util/FormatInfo.java
Labels: fix

#119 [Fix] Set application timezone to seoul
  src/main/java/com/todoary/ms/TodoaryApplication.java
  src/main/java/com/todoary/ms/src/alarm/FireBaseCloudMessageService.java
Labels: fix, alarm

#120 Feature/diary sticker
  src/main/java/com/todoary/ms/src/diary/DiaryController.java
  src/main/java/com/todoary/ms/src/diary/DiaryDao.java
  src/main/java/com/todoary/ms/src/diary/DiaryService.java
Labels: diary, sticker

#121 [Fix] Add main class name to gradle
  build.gradle
Labels: chore

#122 [Fix] : alarm_remind_select_query
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
Labels: fix, alarm

#123 [Feat] Create, modify and delete diary's stickers
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/diary/DiaryController.java
  src/main/java/com/todoary/ms/src/diary/DiaryDao.java
  src/main/java/com/todoary/ms/src/diary/DiaryProvider.java
  src/main/java/com/todoary/ms/src/diary/DiaryService.java
  src/main/java/com/todoary/ms/src/diary/dto/CreateStickerReq.java
  src/main/java/com/todoary/ms/src/diary/dto/DeleteStickerReq.java
  src/main/java/com/todoary/ms/src/diary/dto/GetStickerRes.java
  src/main/java/com/todoary/ms/src/diary/dto/ModifyStickerReq.java
  src/main/java/com/todoary/ms/src/diary/dto/PutStickersReq.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/util/ColumnLengthInfo.java
Labels: diary

#125 [Fix] Get category's todo list except old day
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
Labels: todo

#126 [Feat] : Auth-Apple-Server
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/PostSignupAppleReq.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: auth

#128 [Feat] : Auth-Apple-Server
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/PostSignupAppleReq.java
Labels: fix, auth

#129 [Feat] : check appleRefreshToken
  src/main/java/com/todoary/ms/src/auth/AppleUtil.java
  src/main/java/com/todoary/ms/src/auth/AuthController.java
Labels: bug

#130 [Fix] : remove-log
  src/main/java/com/todoary/ms/src/auth/AuthController.java
Labels: bug, auth

#131 [Feat] : 애플 계정 탈퇴 테스트
  src/main/java/com/todoary/ms/src/auth/AppleUtil.java
  src/main/java/com/todoary/ms/src/auth/AuthController.java
Labels: bug, auth
