Repository Todoary/Todoary-Server, pull requests merged in 2022-09, with the labels that each got.

#141 [Feat] 투두 알람 수정 api 추가한다 (#140)
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/PatchTodoAlarmReq.java
Labels: todo

#142 fix: 애플 유저 탈퇴 테스트
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/dto/PostRevokeAppleReq.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: fix, auth

#145 chore: Release 브랜치 배포 추가한다
  .github/workflows/develop-deploy.yml
  .github/workflows/release-deploy.yml
  release-scripts/build.sh
  release-scripts/start.sh
  release-scripts/stop.sh
Labels: chore
