Repository Todoary/Todoary-Server, pull requests merged in 2022-07, with the labels that each got.

#9 [Feat] Add Patch password api
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/user/UserController.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserService.java
  src/main/java/com/todoary/ms/src/user/dto/PatchPasswordReq.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: user

#11 [Feat] SignOut
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/jwt/JwtTokenProvider.java
  src/main/java/com/todoary/ms/src/user/UserController.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserProvider.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: user

#12 [Feat] Category-Create
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/CategoryService.java
  src/main/java/com/todoary/ms/src/category/dto/PostCategoryReq.java
  src/main/java/com/todoary/ms/src/category/model/Category.java
  src/main/java/com/todoary/ms/src/user/UserController.java
Labels: category

#13 [Fix] Change-Password
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/user/UserController.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserService.java
  src/main/java/com/todoary/ms/src/user/dto/PatchPasswordReq.java
Labels: fix

#17 [Fix] Email-Existence-Path
  src/main/java/com/todoary/ms/src/auth/AuthController.java
Labels: fix

#19 [Feat] Create todo (`Post todo API`)
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/PostTodoReq.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: todo

#22 [Feat] Delete todo (`Delete todo API`)
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/PostTodoReq.java
  src/main/java/com/todoary/ms/src/todo/dto/PostTodoRes.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: todo

#23 [Feat] Category-Delete
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/CategoryService.java
  src/main/java/com/todoary/ms/src/category/dto/PostCategoryRes.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: category

#26 [Feat] Category-Get
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/auth/PrincipalDetailsService.java
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/dto/GetCategoryRes.java
  src/main/java/com/todoary/ms/src/category/model/Category.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: category

#24 [Feat] Get todo list by date API, Get todo list by category API
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/model/Category.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/GetTodoByCategoryRes.java
  src/main/java/com/todoary/ms/src/todo/dto/GetTodoByDateRes.java
  src/main/java/com/todoary/ms/src/todo/dto/PatchTodoStatusReq.java
  src/main/java/com/todoary/ms/src/user/UserProvider.java
Labels: todo

#27 [Refactor] Category-Get-GetCategoryRes
  src/main/java/com/todoary/ms/src/auth/AuthController.java
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/dto/GetCategoryRes.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: category

#29 [Feat] Category-Modify
  src/main/java/com/todoary/ms/src/category/CategoryController.java
  src/main/java/com/todoary/ms/src/category/CategoryDao.java
  src/main/java/com/todoary/ms/src/category/CategoryProvider.java
  src/main/java/com/todoary/ms/src/category/CategoryService.java
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: category

#36 [Feat] Alarm-Todo
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
  src/main/java/com/todoary/ms/src/alarm/AlarmService.java
  src/main/java/com/todoary/ms/src/alarm/model/Alarm.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/user/UserController.java
Labels: alarm

#38 [Feat] Modify todo pined or not (`Patch todo pin API`)
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/src/todo/TodoDao.java
  src/main/java/com/todoary/ms/src/todo/TodoService.java
  src/main/java/com/todoary/ms/src/todo/dto/GetTodoByDateRes.java
  src/main/java/com/todoary/ms/src/todo/dto/PatchTodoCheckReq.java
  src/main/java/com/todoary/ms/src/todo/dto/PatchTodoPinReq.java
Labels: todo

#37 Feature/diary
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
  src/main/java/com/todoary/ms/src/alarm/AlarmService.java
  src/main/java/com/todoary/ms/src/alarm/FireBaseCloudMessageService.java
  src/main/java/com/todoary/ms/src/alarm/dto/PostAlarmReq.java
  src/main/java/com/todoary/ms/src/alarm/model/Alarm.java
  src/main/java/com/todoary/ms/src/alarm/model/FcmMessage.java
  src/main/java/com/todoary/ms/src/diary/DiaryController.java
  src/main/java/com/todoary/ms/src/diary/DiaryDao.java
  src/main/java/com/todoary/ms/src/diary/DiaryProvider.java
  src/main/java/com/todoary/ms/src/diary/DiaryService.java
  src/main/java/com/todoary/ms/src/diary/dto/GetDiaryByDateRes.java
  src/main/java/com/todoary/ms/src/diary/dto/PostDiaryReq.java
  src/main/java/com/todoary/ms/src/diary/dto/PostDiaryRes.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
  src/main/java/com/todoary/ms/util/BaseResponseStatus.java
Labels: diary

#41 [Fix] Alarm-Service
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
Labels: bug

#43 [Fix] diary
  src/main/java/com/todoary/ms/src/diary/DiaryProvider.java
  src/main/java/com/todoary/ms/src/todo/TodoController.java
Labels: bug

#44 [Fix] User-Profile
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: bug

#45 [Fix] User-Profile
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: bug

#50 [Feat] Alarm-Daily-Delete
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
  src/main/java/com/todoary/ms/src/alarm/AlarmDao.java
  src/main/java/com/todoary/ms/src/alarm/model/Alarm.java
  src/main/java/com/todoary/ms/src/category/model/Category.java
  src/main/resources/application.yml
Labels: alarm

#52 [Fix] Alarm-Remove
  src/main/java/com/todoary/ms/src/alarm/AlarmController.java
Labels: bug

#54 [Fix] User-Username
  src/main/java/com/todoary/ms/src/user/UserDao.java
  src/main/java/com/todoary/ms/src/user/UserProvider.java
  src/main/java/com/todoary/ms/src/user/UserService.java
Labels: bug
